{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{%block content%}
<h3> </h3>
<div class='container'>
  <div class="card shadow">
    <h5 class="card-header">Vote for your favorite candidate</h5>
    <div class="card-body ">
        <form method='POST'>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                <div class="card">
                    <div class="card-body">
                        <center>
                            <h5 class="card-title">{{votes.Name_1}}</h5>
                            <img src={{votes.image_1.url}} height='100vh' width='100vw' id='fit' alt='image_1'>
                            <hr>
                            <p>Vote here: {{result.count_2}}</p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">1</label>
                            </div>
                        </center>
                    </div>
                </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title">{{votes.Name_2}}</h5>
                                <img src={{votes.image_2.url}} height='100vh' width='100vw' alt='image_2'>
                                <hr>
                                <p>Vote here: {{result.count_2}}</p>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                    <label class="form-check-label" for="inlineRadio2">2</label>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <center>
             <input class='btn btn-success mt-5' type='submit' value='Submit'>
            </center>
        </div>
      
    </div>
    <div class="col">
        <div class="card shadow">
          <div class="card-body">
              <center>
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">{{votes.Question}}</p>
              </center>
          </div>
        </div>
    </div>
  </div>
  <div class="card-body d-block d-lg-none d-md-none d-sm-none">
    <center>
        <h5 class="card-title">Electoral Commissioner<h5>
        <img src="/media/sew.jpg" height='300' width='300'>
    
    </center>
  </div>
</div>
{%endblock%}